doctype html
html 
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title ✈️ Where's That Plane Going?
        link(rel="stylesheet", type="text/css", href="/bulma.min.css")
    body 
        section.section
            .container
                h1.title ✈️ Where's That Plane Going?
                p.subtitle A list of nearby flights, according to FlightAware data
                hr
                block content
        section.section 
            .container.has-text-centered
                p.has-text-weight-bold Where's That Plane Going? (
                    a(href="https://github.com/tti0/wtpg") wptg
                    | ) v#{wtpgVersion} by&nbsp
                    a(href="https://tti0.net") tti0
                p 
                    a(href="https://github.com/tti0/wtpg/blob/main/LICENSE") MIT License, &copy; 2023